@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
}

.general-content-container {
  max-width: 1160px;
  margin-inline: auto;
  width: 100%;
  margin-bottom: 20px;
}

header {
  display: flex;
  align-items: center;
  padding-inline: 3rem;
  justify-content: space-between;
  min-height: 90px;
  border-bottom: 1px black solid;
  background-color: #ffc017;
}

.header-content {
  display: flex;
}

.header-content ul {
  margin-left: auto;
}
header img {
}

ul button {
  list-style: none;
  justify-content: space-around;
  border: none;
}

ul {
  padding: 0 15px;
}

li {
  margin-inline: 15px;
}

header ul li {
  display: inline;
}

button {
  background-color: black;
  color: white;
  padding: 7px 19px;
  border: none;
  border-radius: 60px;
  border-color: black;
  box-shadow: 3px black;
}

/* above the fold */

.above-the-fold {
  /* display: flex; */
  /* flex-direction: column; */
  border-bottom: 1px black solid;
  padding-bottom: 70px;
  background-color: #ffc017;
}

.above-the-fold-content {
  display: flex;
}
.above-the-fold-h1-class {
  /* max-width: 590px; */
  padding-top: 100px;
  justify-content: center;
}

.above-the-fold h1 {
  font-size: 6.7rem;
  padding-bottom: 23px;
}

.above-the-fold h4 {
  font-size: 1.5rem;
  line-height: 27px;
}

.above-the-fold button {
  margin-top: 40px;
  font-size: 1.3rem;
}

/* news  */

.trending-news-flex-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px rgb(158, 157, 157) solid;
  padding-bottom: 30px;
}

.trending-news-container-body {
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  row-gap: 2;
}

.trending-contents {
  display: flex;
  width: 30%;
  padding-bottom: 30px;
}

.trending-news-number {
  padding-right: 20px;
  font-size: 1.7rem;
  font-weight: 600;
  opacity: 0.1;
}

.trending-news-updates {
}

.trending-news-updates h6 {
  font-weight: 600;
  padding-bottom: 9px;
}

.trending-news-updates h4 {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 13px;
}

.trending-news-updates p {
  opacity: 0.5;
}

/* cards */

.main-news-bar {
  display: flex;
  justify-content: space-between;
}

.main-news-bar > div {
  flex: 0.5;
  max-width: 90%;
  gap: 1;
}

.main-news-bar aside {
  flex: 0.4;
}

.name-image-writer {
  display: flex;
  gap: 1;
}

.name-image-writer img {
  border-radius: 100%;
  height: 20px;
  width: 20px;
}

.name-image-writer p {
  font-size: 5px;
  font-weight: bold;
  padding-left: 7px;
}

.news-cards-flex-box {
  display: flex;
  padding-bottom: 60px;
}

.main-news-article h3 {
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.main-news-article p {
  opacity: 0.7;
  font-size: 1.1rem;
}

.article-image img {
  height: 150px;
}

.first-p-in-news {
  padding-bottom: 24px;
}

.last-p-in-news {
  font-size: 0.9rem;
}

/* sidebar  */

.categories-flex-box {
  display: flex;

  padding-bottom: 50px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.categories-header {
  font-size: 1.1rem;
  opacity: 0.9;
  font-weight: bold;
  padding-bottom: 10px;
}

.categories-labels-container {
  padding-top: 5px;
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
}

.catergories-labels {
  display: flex;
}

.catergories-labels a {
  text-decoration: none;
  color: black;
  border: none;
  border-radius: 60px;
  min-width: 100px;
  margin: 8px 8px 8px 0;
  padding: 8px;
  background-color: #f2f2f2;
  text-align: center;
}

.categories-flexbox-2 {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  padding-top: 30px;
}

.categories-flexbox-2-item {
  display: flex;
}

.categories-flexbox-2-item a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  padding-right: 17px;
  padding-bottom: 10px;
  font-size: 1rem;
}

/* media queries  */

@media screen and (max-width: 773px) {
  header {
    display: flex;
  }
  .hidden-menu {
    display: none;
  }

  .trending-news-flex-block {
    display: flex;
    flex-direction: column;
    max-width: 150px;
  }

  .main-news-bar {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 554px) {
  .hidden-menu-mobile {
    display: none;
  }
}
